body{
    background-color:#A0522D;
    text-align: center;
    font-family: Didot;
}
h1{
    color:white;
    font-family: Didot;
    padding-top: 40px;
    font-weight: bold;
}
h2{
    font-family: Didot;
    padding-top: 40px;
    font-weight: bold;
    font-size: 150%;
}

.row {
    background-color: 	#DEB887;
    font-size: 160%;
    width: 550px;
    height: 650px;
    margin: auto;
    border: 7px solid black;
}
p{
    padding-top: 0px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
}
ul li:hover {
    background: #ddd;
}
.content {
    text-align: center;
    background-color: #FFEBCD;
    color:black;
    height: 200px;
    padding: 30px;
    border: 2px solid black;
    font-size: 120%;

}
.content input,button{
    border: 2px solid black;
}
#napis{
    color: white;
}
